.infobox-container{
    font-size: 100% !important;

}
.bestanswer{
    background:rgba(105,170,70,.5);
}
blockquote.pull-left{
    margin:0 !important;
}
#area_search_chosen{
    width:100% !important;
}

.rating-xg{
    font-size:30px;
}
.no-skin .nav-list>li.active>a {
    font-weight:lighter;

}
.no-skin .nav-list>li.active:after {
    border-color:white;
}
.no-skin .nav-list li.active>a:after {
    border-right-color: white !important;
    -moz-border-right-colors: white !important;}
.cursor-default{
    cursor:default !important;
}
.itemdiv.memberdiv>.body>.name>a{
    white-space: nowrap;
}
#search_box_header,#question_box_header{
    position:absolute;
    left:120px;
}
#question_box .widget-container-col{
    margin-top:10px !important;
}
.ui-jqgrid-btable{
    width:100% !important;
}
.ui-jqgrid-htable{
    width:100% !important;
}
.ui-jqgrid-hbox{
    padding:0 !important;
    width:100% !important;
}
.ui-jqgrid-bdiv{
    height:100% !important;
    width:100% !important;
}
#question_box .widget-header{
    cursor:pointer;
}

#responses .row{
    padding:5px 0 !important;
}
.capitalize{
    text-transform:capitalize;
}
.rating-xs{
    font-size:1em;
}
#rol{
    width:100%;
}
.tag{
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.normal-select{
    width:100% !important; 
    display:block !important; 
}
.educacion_prof select,.educacion_prof input,.educacion_prof button{
    margin:5px 5px !important;
    height:2.5em;
}
#load_prof{
    font-size:25px;
    margin-left:50%;
    display:none;
}
#inst_container_prof,#inst_container_est{
    padding-right:10px;
}
#inst_filter_est,#filter_ciudad_est,#inst_filter_prof,#filter_ciudad_prof{
    height:2.2em;
    width:100%;
}

#inst_container_prof .input-icon,#inst_container_est .input-icon{
    width:100%;
}

.btn_tables{
    min-height: 50px;
    background: #438eb9;
    text-align: left;
    padding: 15px 10px;
    color: white;
    cursor:pointer;
    font-size: 15px;
}
.themes:hover{
    cursor:pointer;
    color:#662D91;
}
#tipo_doc_chosen{
    width: 200px !important;
    margin-right: 100%;
}
#register_form .help-block{
    color:red;
}
#email_padre_container,#documento_padre_container,#celular_padre_container{
    display:none;
}
#rol_chosen{
    width:100% !important;
}
#admin_panel .dataTables_wrapper{
    display:none;
}
#edit-panel,#row_temas{
    display:none;
}
#tema_filter_prof_chosen,#tema_filter_est_chosen{
    width:100% !important;
}
#tema_filter_prof_chosen ul.chosen-choices,#tema_filter_est_chosen ul.chosen-choices{
    height: 34px !important;
    overflow-y: scroll;
}
#ques_tags .tags{
    height:60px;
    overflow-y: scroll;
}
#ins_names .col-xs-12{
    padding:0;
}
#form_field_select_4_chosen{
    width:100% !important; 
}
.float-left{
    float:left !important;
}
#ciudad_container{
    width:100%;
}
#search_box .widget-header{
    cursor:pointer;
}
#tema_filter_est_chosen input,#tema_filter_prof_chosen input{
    width:200px !important;
}
.tag{
    text-transform:capitalize;
}
.navbar{
    background:#662D91 !important;
}
.logo_img{
    height:30px;
}
#search_container{
    height:60px;
}
#menu-toggler{
    z-index: 1034;
}
.themeSelected{
    font-weight:bold;
}
.default{
    color:#999 !important;
}
.li_img{
    width:80px;
    height:80px;
    border:1px solid;
    margin-top:5px;
    float:left;
}
#button_inside{
    position: absolute;
    right:30px;
    top: 100px;
}
.reput{
    position: absolute;
    right: 2em;
    top: 1em;
}
.search_right{
    display:none;
}
#search_list p{
    font-weight: lighter;
    width: 60%;
}

#wid-results{
    display: none;
}

.search_cont{

    min-height: 115px;
    color:#595C66;
    margin-left: 90px;
    width: 90%;
}
.search_cont_box{

    max-height: 70px;
    color:#595C66;
    margin-left: 90px;
    width: 90%;
}
.search_cont_box h2{
    width:65%;
}
.question_list{
    list-style:none;
    margin:0;
}
#area_search_est_chosen,#area_search_prof_chosen{
    width:100% !important;
}
.search_cont h2{
    width:65%;
}
.question_list li{
    background:aliceblue;
    border-bottom: solid 1px black;
    padding:10px;
}
#lquestions_widget{
    background:aliceblue !important;
    padding:0;
}
#lquestions_widget .widget-main{
    padding:0;}
#search_list{

    display:none;
}
#preg_down{
    float:right;
}
.login-layout {
    background-color: #662D91;
}
#ques_tags{
    width:100%;

}

.user-profile input,.user-profile select{
    color:black !important;
}
#logo_container{
    padding-bottom:0;
}
.advanced{
    display:none;
}
#ques_tags .tags,#ques_area{
    width:41.6%;
    margin-top:10px;
}

#send_question{
    margin-top:10px;
}
#login_logo{
    width: 100%;
    margin-top: 20px;
}
#data-alert{
    display:none;
}
.question_li h4{
    position: relative;
    top: 0px;
    left: 90px;
    width:60%;
    margin-top:1px;
}
.question_li .hashtags{
    position:relative;
    bottom:6px;
    left:90px;
}
.question_li .area{
    position: absolute;
    right: 0;
    top: 0px;
}
.question_li .autor{
    position:absolute;
    right:0;
    bottom:20px;
}
.question_li .fecha{
    position:absolute;
    right:0;
    bottom:0;
}
.question_li{
    min-height: 6em;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    padding-top: 5px;
}
.respuestas_n{
    width:60px;
    position:relative;

}

#alert-success{
    display:none;
}
#load_ques{
    font-size:350%;
    display:none;
    left: 20%;
    position: absolute;
    top: 50%;
}
.user_description{
    min-width:300px;
}
.user_search{
    width:65% !important;
}
#search_tab{
    display:none;
}
.question_container{
    list-style:none;
    margin:0;
    position: relative;
    min-height: 300px;
}
#ques_desc{
    resize:none;
    height:6em;
    padding:0 5px;
    margin-top:5px;
}
.respuestas_n p{
    margin-top:1px;
    position:absolute
}
.puntuacion_n{
    position:absolute;
    left:80px;
}
.question_rest{
    margin-left:95px;
}
#search_widget{
    min-height:330px;
}
.search-field input{
    width:100% !important;
}
.btn-blue{
    background:#55ACEE !important;
}
#home2 .scroll-track,#home2 .scroll-content{
    height:100% !important;	
}
#search_container .widget-main{
    height:100%;
}
.question_container a:hover{
    text-decoration:none;
}
.question_li:hover{
    background:aliceblue;
}
.label .inline{
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}
@media (max-width:768px){
    .reput{
        position:relative !important;
        top:0;
        right:0;
    }
    #button_inside{
        position:relative;
        margin-top:5px;
        top:0;
        right:0;
    }
    input.ins_name{
        float:left;
    }
}
@media (max-width:650px){
    #misareas{
        width:100%;
    }
    #col_search{
        width:100%;
    }

}
.sidebar.menu-min p.center.blue {
    display:none;
}
.sidebar.menu-min div.center.margin-top-20 span{
    display:none;
}
.sidebar.menu-min div.margin-50.center.blue{
    margin-left: 3px;
    margin-top: 10px;
}
img.pull-left{
    width:100%;
}
.tree .tree-item{
    cursor:initial;
}
.margin-top-20{
    margin-top:20px;
}
#load_resp{
    display:none;
    position: absolute;
    left: 50%;
    font-size: 60px;
}
#pregunta_container{

    min-height:150px !important;
}

#responses{
    margin-top:20px;
}
.margin-top-50{
    margin-top:70px;
}
/*.sidebar{
    width:260px;
}
.sidebar+.main-content{
    margin-left:260px;
}*/
.fb-like{
    top: -5px;
}
.msj_txt{
    height:230px;
    resize:none;
}
.twitter-follow-button{

    margin-top: 10px;
}
#social{
    float: left;
    margin-right: 15px;
}
.respuesta_txt{
    margin: 10px 100px;
    padding:5px;
    resize:vertical;
    width:100%;
}
.modal_img{
    width:64px;
    height:64px;
    float: left;
    margin-right: 10px;
}
.popover{
    max-width:500px !important;
}
.votes_number{
    color:gray;
    font-size:20px;
    text-align:center !important;
}
#user-profile-1 .label-xlg{
    width:245px;
    z-index: 0;
}
#profile-opt span{
    white-space:initial;}
#form-field-comment{
    resize:none;
    width:100%;
    height:5em;
}
.area_left{
    float:left;
    clear:both;
    width:50%;
}
.forgot-box .toolbar{
    background: #5090C1;
    border-top: 2px solid #597597;
}
#edit-basic .row .form-group.has-error .control-label,#edit-basic .row .form-group.has-error .help-block,#edit-basic .row .form-group.has-error .help-inline{
    text-align:center;
}
.sem{
    margin:0px 45px 20px 0;
}
#ins_names .chosen-container-multi{
    width: 96% !important;
    float: left !important;
    margin-bottom:5px !important;
}
.profile_img{
    width:256px;
    height:256px;
    border: 1px dotted gray;
    padding: 0;
}
.ace-file-input,.ace-file-container,.ace-file-name{
    width:256px !important;
}
.ins_name{
    display:none;
    height:2.5em;
    margin-bottom:10px;
}
.pad-10{
    padding-right:10px;
}
.area_right{
    float: right;
    width: 50%;
}
.area_cont{
    display:none;
    margin-bottom:10px;
}
@media (max-width:767px){
    #ques_tags .tags,#ques_area{
        width:83.5%;
    }
}

.clearfix2{
    clear:both;
}
.follow-name{
    max-width:200px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;    
}
.itemdiv.memberdiv {
    max-width: 100% !important;
}
.seguidores,.siguiendo,#seguidores,#siguiendo{
    cursor: pointer;
}

.btn-danger.ins_name{
    margin-top: 13px !important;
}
#search_box_container{
    margin:5px 0;
    position:absolute;
    width:450px;
}
.btn-search {
    color: #76469B !important;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4) !important;
    position:absolute;
}
.btn-search,
.btn-search:focus {
    background-color:#FEEC01 !important;
    border-color: #FEEC01;
}
.btn-search:hover,
.btn-search:active,
.open .btn-search.dropdown-toggle {
    background-color: #f7d05b !important;
    border-color: #FEEC01;
}
.btn-search.no-border:hover,
.btn-search.no-border:active {
    border-color: #f7d05b;
}
.btn-search.no-hover:hover,
.btn-search.no-hover:active {
    background-color: #fee188 !important;
}
.btn-search.active {
    background-color: #fbd972 !important;
    border-color: #f9cf4f;
}
.btn-search.no-border.active {
    background-color: #fad463 !important;
    border-color: #fad463;
}
.btn-search.disabled,
.btn-search[disabled],
fieldset[disabled] .btn-search,
.btn-search.disabled:hover,
.btn-search[disabled]:hover,
fieldset[disabled] .btn-search:hover,
.btn-search.disabled:focus,
.btn-search[disabled]:focus,
fieldset[disabled] .btn-search:focus,
.btn-search.disabled:active,
.btn-search[disabled]:active,
fieldset[disabled] .btn-search:active,
.btn-search.disabled.active,
.btn-search[disabled].active,
fieldset[disabled] .btn-search.active {
    background-color: #fee188 !important;
    border-color: #fee188;
}
.padding-0{
    padding:0 !important;
}
.margin-0{
    margin:0;
}
#search_auto .ui-autocomplete{
    padding:0 !important;
}
#search_auto .ui-autocomplete li{
    padding:0 !important;
}
#search_auto h4{
    max-width:75%;
}
#search_auto a:hover{
    text-decoration: none;
}
#search_auto .dd-handle{
    min-height:125px;
}
#documento_padre{
    height: 2em;
    padding-top: 1px;
}
#documento_padre_container .chosen-container{
    width:182px !important;
}
@media (max-width: 1150px){
    #social{
        display:none !important;
    }
}
